<div class="text-center m-2 p-2">
  <h1 class="text-success text-main"><%= t('data.newbook') %></h1>
  <%= render 'form', booking: @booking %>
</div>
<%= link_to 'Back', :back, class: 'btn btn-dark btn-block m-2' %>
